*{
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}
body{
    overflow: hidden;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    display: inline-block;
    background-color: black;
}
#endGameText{
    display:none;
    position: absolute;
    width:50%;
    padding:20px;
    height:10%;
    background-color:white;
    text-align: center;
    font-size:30px;
}
